**

!.gitignore
!.gitmodules

!ags
!ags/**

!fish
!fish/**

!hypr
!hypr/**

!kitty
!kitty/**

!omf
!omf/**

!nvim
!nvim/**

!qt5ct
!qt5ct**

!qt6ct
!qt6ct/**

!tmux
!tmux/**

!import_new_env

!starship.toml

!fontconfig
!fontconfig/**

!foot/
!foot/**

!anyrun
!anyrun/**

!fuzzel
!fuzzel/**

!mpv/
!mpv/**

!wlogout/
!wlogout/**

!zshrc.d
!zshrc.d/**

!thorium-flahs
