$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #5778AA;
$secondary_paletteKeyColor: #6D778A;
$tertiary_paletteKeyColor: #886E8F;
$neutral_paletteKeyColor: #75777D;
$neutral_variant_paletteKeyColor: #74777F;
$background: #111318;
$onBackground: #E1E2E9;
$surface: #111318;
$surfaceDim: #111318;
$surfaceBright: #37393E;
$surfaceContainerLowest: #0C0E13;
$surfaceContainerLow: #191C20;
$surfaceContainer: #1D2024;
$surfaceContainerHigh: #282A2F;
$surfaceContainerHighest: #33353A;
$onSurface: #E1E2E9;
$surfaceVariant: #43474E;
$onSurfaceVariant: #C4C6CF;
$inverseSurface: #E1E2E9;
$inverseOnSurface: #2E3035;
$outline: #8E9199;
$outlineVariant: #43474E;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A7C8FF;
$primary: #A7C8FF;
$onPrimary: #04305F;
$primaryContainer: #244777;
$onPrimaryContainer: #D5E3FF;
$inversePrimary: #3E5F90;
$secondary: #BDC7DC;
$onSecondary: #273141;
$secondaryContainer: #40495B;
$onSecondaryContainer: #DAE4FA;
$tertiary: #DBBCE1;
$onTertiary: #3E2845;
$tertiaryContainer: #A387AA;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D5E3FF;
$primaryFixedDim: #A7C8FF;
$onPrimaryFixed: #001B3C;
$onPrimaryFixedVariant: #244777;
$secondaryFixed: #D9E3F8;
$secondaryFixedDim: #BDC7DC;
$onSecondaryFixed: #121C2B;
$onSecondaryFixedVariant: #3D4758;
$tertiaryFixed: #F8D8FE;
$tertiaryFixedDim: #DBBCE1;
$onTertiaryFixed: #27132F;
$onTertiaryFixedVariant: #553E5D;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #171B20;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #89ADD2;
$term5: #9AA5EF;
$term6: #93D0F9;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C8DEF5;
$term13: #D5D7FF;
$term14: #F7FAFF;
$term15: #D6E3FD;
