$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #2F8475;
$secondary_paletteKeyColor: #637C75;
$tertiary_paletteKeyColor: #5C7B92;
$neutral_paletteKeyColor: #727876;
$neutral_variant_paletteKeyColor: #6F7976;
$background: #0E1513;
$onBackground: #DEE4E1;
$surface: #0E1513;
$surfaceDim: #0E1513;
$surfaceBright: #343B38;
$surfaceContainerLowest: #090F0E;
$surfaceContainerLow: #171D1B;
$surfaceContainer: #1B211F;
$surfaceContainerHigh: #252B29;
$surfaceContainerHighest: #303634;
$onSurface: #DEE4E1;
$surfaceVariant: #3F4946;
$onSurfaceVariant: #BEC9C5;
$inverseSurface: #DEE4E1;
$inverseOnSurface: #2B3230;
$outline: #89938F;
$outlineVariant: #3F4946;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #84D6C3;
$primary: #84D6C3;
$onPrimary: #00382F;
$primaryContainer: #005045;
$onPrimaryContainer: #A0F2DF;
$inversePrimary: #036B5C;
$secondary: #B1CCC4;
$onSecondary: #1C352F;
$secondaryContainer: #354E48;
$onSecondaryContainer: #CEEAE2;
$tertiary: #ABCAE4;
$onTertiary: #123348;
$tertiaryContainer: #7694AD;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #A0F2DF;
$primaryFixedDim: #84D6C3;
$onPrimaryFixed: #00201B;
$onPrimaryFixedVariant: #005045;
$secondaryFixed: #CDE8E0;
$secondaryFixedDim: #B1CCC4;
$onSecondaryFixed: #06201B;
$onSecondaryFixedVariant: #334B46;
$tertiaryFixed: #C9E6FF;
$tertiaryFixedDim: #ABCAE4;
$onTertiaryFixed: #001E2F;
$onTertiaryFixedVariant: #2B4A5F;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #151C1A;
$term1: #7B9C2F;
$term2: #66E1B0;
$term3: #8FFBBF;
$term4: #77B6AB;
$term5: #7AAEEA;
$term6: #88D9BF;
$term7: #CEDBD0;
$term8: #B2BCB2;
$term9: #A1D043;
$term10: #F9FFF9;
$term11: #FFFFFF;
$term12: #BFE4D9;
$term13: #EADB83;
$term14: #E9FFF4;
$term15: #CAE9E1;
